* {
    font-family: 'Quicksand', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    background: white url(../images/background-gradient.png)
        top left repeat-x fixed;
    width: 100%;
}

body {
    padding: 12px 0 0 0;
    margin: 12px auto 0 auto;
    background: transparent url(../images/pandr-logo.png)
        0 0 no-repeat;
    width: 960px;
}

div#nav {
    margin: 48px 0 0 0;
    padding: 0 0 64px 0;
    width: 100%;
    clear: both;
    text-align: right;
}

div#nav a {
    font-size: 16px;
    color: #c837ab;
    margin: 0 16px 0 16px;
    text-shadow: 0 0 2px #aa0088;
    font-weight: 300;
}

div#nav a:link, div#nav a:active, div#nav a:visited, div#nav a:hover {
    text-decoration: none;
}

div#nav a:hover {
    color: red;
    text-shadow: 0 0 2px #644;
}

div#content {
    margin-top: 16px;
    width: 600px;
    float: left;
    clear: none;
}

div#content a {
    color: #aa0088;
    text-decoration: none;
    border-bottom: 1px dotted #aa0088;
}

div#content a:hover {
    color: red;
    border-bottom: 1px dotted red;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 3px #aaa;
    color: red;
    margin: 18px 0 6px 0;
}

h2 {
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    text-shadow: 1px 1px 2px #aaa;
    color: #c837ab;
    margin: 14px 0 4px 0;
}

p {
    font-size: 14px;
    text-align: left;
    font-weght: 700;
    margin: 6px 0 12px 0;
}

div#content p {
    text-align: justify;
}

span.oops {
    text-decoration: line-through;
    color: #555555;
}

span.ctrlh {
    font-size: 7px;
    color: #555555;
    font-family: Consolas, "Courier New", Courier, monospace;
}

div.procon {
    margin-top: 32px;
    width: 300px;
    background-color: #c837ab;
    float: right;
    clear: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

div.procon h2 {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 2px #eee;
    margin: 6px 0 6px 0;
}

div#pros {
    background-color: #eeffee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin: 6px;
    padding: 4px 8px 4px 8px;
}

div#pros p {
    color: #002200;
    font-size: 13px;
    margin: 4px 0 4px 0;
}

div#cons {
    background-color: #ffeeee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin: 6px;
    padding: 4px 8px 4px 8px;
}

div#cons p {
    color: #220000;
    font-size: 13px;
    margin: 4px 0 4px 0;
}

div.helpframe {
    background-color: #eeeeff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin: 6px;
    padding: 4px 8px 4px 8px;
}

div.helpframe p {
    color: #000022;
    font-size: 13px;
    margin: 4px 0 4px 0;
}

img.sponsorlogo {
    float: left;
    margin: 0 12px 8px 0;
    clear: none;
}

ul {
    margin-top: 4px;
    padding-top: 0;
}

ul li {
    font-size: 14px;
    text-align: left;
    font-weght: 700;
}